{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

 <!-- START CONTENT -->
 <section id="content">
    <!--start container-->
    <div class="container">
      
      <!--work collections start-->
      <div id="work-collections">
        <div class="row">
          <div id='mainProfile' class="row col s12 m12 l12 mt-2">
            <div  class="col s12 m4 l4">
              {% if last_session.user.photo.url %}
              <div class="employee__img">
                <img src="{{last_session.user.photo.url}}" alt="">
               </div>
               {% else %}
             <div class="employee__img">
              <img src="{% static 'images/avatar/unknown.jpg' %}" alt="">
             </div>
             {% endif %}
            </div>
            <div class="col s12 m8 l8">
              {% if last_session.user.name %}
             <h2>Имя: {{last_session.user.name}}</h2>
             {% else %}
             <h2>Имя: Неизвестный гость</h2>
             {% endif %}
             <h3>Отделение: Цивровизация</h3>
             <h3>Должность: {{ last_session.user.spesilization }}</h3>
             <h4>Состояние: {{ last_session.check }}</h4>
           </div>
          </div>
         

      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Время</th>
              <th>Имя</th>
              <th>Должность</th>
              <th>Состояние</th>
          </tr>
        </thead>

        <tbody>
          {% for session in sessions %}
          <tr class="sessions">
            <td>{{session.created_at}}</td>
            <td>{% if session.user.name %}{{session.user.name}} {% else %} {{session.uid}} - неизвестный гость {% endif %}</td>
            <td>{% if session.spesilization.name %}{{session.spesilization.name}} {% else %} Неизвестно{% endif %} </td>
            <td>{{session.inout}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
            
            </ul>
          </div>
        
        </div>
      </div>
      <!--work collections end-->
      
      <!-- //////////////////////////////////////////////////////////////////////////// -->
    </div>
    <!--end container-->
  </section>
  <!-- END CONTENT -->


 

  <script>

    function getJson(){
      elems = document.getElementsByClassName('sessions');
      profile = document.getElementById('mainProfile');
      first = elems[0];
      fetch('api/')
      .then(data => data.json())
      .then((staff) => {
        let data = staff.data
        let user = staff.user
        let spec = staff.specilization
        let time = new Date(data[5]);

                var options = {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric',
        };
        let fineltime = time.toLocaleString("ru", options)
        

        if (user == 'None'){
          first.innerHTML = `
            <td>${fineltime}</td>
            <td>${data[2]} - неизвестный гость</td>
            <td>Неизвестноasdas</td>
            <td>${data[4]}</td>`;
          profile.innerHTML = `
          <div  class="col s12 m4 l4">
             <div class="employee__img">
              <img src="{% static 'images/avatar/unknown.jpg' %}" alt="">
             </div>
          </div>
          <div class="col s12 m8 l8">
             <h2>Имя: Неизвестный гость ${data[2]}</h2>
             <h3>Отделение: Цивровизация</h3>
             <h3>Должность: Неизвестно</h3>
             <h4>Состояние: ${data[4]}</h4>
           </div>
          `
        }
        else{
          first.innerHTML = `
            <td>${fineltime}</td>
            <td>${user[2]} ${user[3]} </td>
            <td>${spec}</td>
            <td>${data[4]}</td>`;

            profile.innerHTML = `
          <div  class="col s12 m4 l4">
             <div class="employee__img">
              <img src="media/${user[5]}" alt="">
             </div>
          </div>
          <div class="col s12 m8 l8">
             <h2>ФИО: ${user[2]} ${user[3]} </h2>
             <h3>Отделение: Цивровизация</h3>
             <h3>Должность: ${spec}</h3>
             <h4>Состояние: ${data[4]}</h4>
           </div>
          `
        }
        
       
        console.log(spec);
      })

      console.log(first);
    }
  

    // data = document.getElementById('datetimepicker');
    // console.log(data.valueAsNumber);
    // console.log()
    // const parent = document.querySelector('.all');
    //   let Elems = parent.querySelectorAll('.collection-item[data-id]');

    //   if (Elems){
    //     let last = Elems[0].dataset.id;
    //   }
      
    // function getJson() {
      
    //   fetch('api/')
    //   .then(data => data.json())
    //   .then( (staff)=>{
    //       let data = staff.data;
    //       if (last == data[0]){
    //         // console.log(last);
    //       }
    //       else{
    //         let user = staff.user;
    //       if ( last == data[0]){
    //         // console.log(lastId);
    //       }
    //       else{
    //         const lastElem = document.createElement('li');
    //         if (data[3] == true){
    //           if (data[4] == "Кірді"){
    //             lastElem.setAttribute('class','collection-item avatar   gradient-45deg-green-teal  white-text ');
                
    //             lastElem.innerHTML = `
    //             <div class="row">
    //               <div class="col s9">
    //                 <img class="circle" src="media/${user[5]}" alt="">      
    //                 <p class="collections-title "><a class="white-text" href="">${user[2]} ${user[3]} ${data[2]}</a></p>
    //                 <p class="collections-content">Вход в ${data[5]}</p>
    //               </div>
    //               <div class="col s3">
    //                 <span class="task-cat cyan accent-4">${user[4]}</span>
    //               </div>
    //             </div>
    //             `;
                

    //           }
    //           else{
    //             lastElem.setAttribute('class','collection-item avatar    gradient-45deg-amber-amber  white-text  ');
    //             lastElem.innerHTML = `
    //             <div class="row">
    //               <div class="col s9">
    //                 <img class="circle" src="media/${user[5]}" alt="">      
    //                 <p class="collections-title "><a class="white-text" href="">${user[2]} ${user[3]} ${data[2]}</a></p>
    //                 <p class="collections-content">Выход в ${data[5]}</p>
    //               </div>
    //               <div class="col s3">
    //                 <span class="task-cat cyan accent-4">${user[4]}</span>
    //               </div>
    //             </div>
    //             `;
    //           }
    //         }
    //         else{
    //           lastElem.setAttribute('class','collection-item avatar gradient-45deg-deep-orange-orange white-text  ');
    //           lastElem.innerHTML = `
    //             <div class="row">
    //               <div class="col s9">
    //                 <img class="circle" src="/static/images/avatar/unknown.jpg" alt="">      
    //                 <p class="collections-title "><a class="white-text" href="">Неизвестный Человек ${data[2]}</a></p>
    //                 <p class="collections-content">Выход в ${data[5]}</p>
    //               </div>
    //               <div class="col s3">
    //                 <span class="task-cat cyan accent-4">Гость</span>
    //               </div>
    //             </div>
    //             `;
    //         }
    //         parent.prepend(lastElem);
    //         last = data[0];
    //         // console.log(data);
    //         // console.log(user)
    //         // console.log(data[1]);
            
    //       }
          
    //       }
          
          
    //   });

    // }
    getJson();
    setInterval(getJson, 1000);
  </script>
{% endblock %}